<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        body {
            /*background-color: #2D2D2D;*/
            background-image: url("/static/timg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; );
        }

        .form {
            background: rgba(35, 35, 35, 0);
            width: 500px;
            margin: 200px auto;
        }

            /*阴影*/
        .fa {
            display: inline-block;
            top: 27px;
            left: 6px;
            position: relative;
            color: #ccc;
        }

        input[type="text"], input[type="password"] {
            padding-left: 26px;
        }

        .checkbox {
            padding-left: 21px;
        }

        #sss {
            color: dodgerblue;
        }
    </style>
</head>

<body>
<div id="mydiv">

    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title" id="sss">LOGIN</h3>

                <div class="col-md-9">
                    <form method="POST" action="login" enctype="multipart/form-data">
                        <div class="form-group">
                            <i class="fa fa-user fa-lg"></i>
                            <input class="form-control required" type="text" placeholder="Username" id="username"
                                   name="username" autofocus="autofocus" maxlength="20"/>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="Password" id="password"
                                   name="password" maxlength="8"/>
                        </div>

                  <!--       {#                    <div class="form-group">#}
                        {#                        <label class="checkbox">#}
                        {#                            <input type="checkbox" name="remember" value="1"/><a style="color: #ffff00">Username/Password<span#}
                        {#                                style="color: red">----</span>Admin/111111</a>#}
                        {#                        </label>#}
                        {#                    </div>#} -->
                        <div class="form-group col-md-offset-9">
                            <span style="color:#ff0000;"><b id="tips">{{ error_msg }}</b></span>
                            <button type="button" class="btn btn-success pull-right" id="submit" onclick="check()">登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">


    function check() {
        var name = $("#username").val();
        var pasd = $("#password").val();
        if (!(name && pasd)) {
            alert("空");
        }
        else if (name!="Admin"||pasd!="111111") {
            alert("大哥，用户名或者密码错了!");
        }
        else {
            $("#submit").prop("type", "submit");
        }
    }

    $('#password').keydown(function(e){
        if(e.keyCode==13){
        check(); //处理事件
     }
    });
    
    window.onload = function () {
        //配置
        var config = {
            vx: 2.5,	//小球x轴速度,正为右，负为左
            vy: 2.5,	//小球y轴速度
            height: 2,	//小球高宽，其实为正方形，所以不宜太大
            width: 2,
            count: 100,		//点个数
            color: "121,162,185", 	//点颜色
            stroke: "130,255,255", 		//线条颜色
            dist: 6000, 	//点吸附距离
            e_dist: 20000, 	//鼠标吸附加速距离
            max_conn: 10 	//点到点最大连接数
        };

        //调用
        CanvasParticle(config);
    };

    var CanvasParticle = (function () {
        function getElementByTag(name) {
            return document.getElementsByTagName(name);
        }

        function getELementById(id) {
            return document.getElementById(id);
        }

        function canvasInit(canvasConfig) {
            canvasConfig = canvasConfig || {};
            var html = getElementByTag("html")[0];
            var body = document.getElementById("mydiv");
            var canvasObj = document.createElement("canvas");
            var canvas = {element: canvasObj, points: [], config: {vx: canvasConfig.vx || 4, vy: canvasConfig.vy || 4, height: canvasConfig.height || 2, width: canvasConfig.width || 2, count: canvasConfig.count || 100, color: canvasConfig.color || "121, 162, 185", stroke: canvasConfig.stroke || "130,255,255", dist: canvasConfig.dist || 6000, e_dist: canvasConfig.e_dist || 20000, max_conn: 10}};
            if (canvas.element.getContext("2d")) {
                canvas.context = canvas.element.getContext("2d");
            } else {
                return null;
            }
            body.style.padding = "0";
            body.style.margin = "0";
            body.appendChild(canvas.element);
            canvas.element.style = "position: fixed; top: 0; left: 0; z-index: -1;";
            canvasSize(canvas.element);
            window.onresize = function () {
                canvasSize(canvas.element);
            };
            body.onmousemove = function (e) {
                var event = e || window.event;
                canvas.mouse = {x: event.clientX, y: event.clientY}
            };
            document.onmouseleave = function () {
                canvas.mouse = undefined;
            };
            setInterval(function () {
                drawPoint(canvas);
            }, 40);
        }

        function canvasSize(canvas) {
            var width = document.getElementById("mydiv").style.width;
            var height = document.getElementById("mydiv").style.height;
            width = parseInt(width);
            height = parseInt(height);
            canvas.width = width || window.innerWeight || document.documentElement.clientWidth || document.body.clientWidth;
            canvas.height = height || window.innerWeight || document.documentElement.clientHeight || document.body.clientHeight;
        }

        function drawPoint(canvas) {
            var context = canvas.context, point, dist;
            context.clearRect(0, 0, canvas.element.width, canvas.element.height);
            context.beginPath();
            context.fillStyle = "rgb(" + canvas.config.color + ")";
            for (var i = 0, len = canvas.config.count; i < len; i++) {
                if (canvas.points.length != canvas.config.count) {
                    point = {x: Math.floor(Math.random() * canvas.element.width), y: Math.floor(Math.random() * canvas.element.height), vx: canvas.config.vx / 2 - Math.random() * canvas.config.vx, vy: canvas.config.vy / 2 - Math.random() * canvas.config.vy}
                } else {
                    point = borderPoint(canvas.points[i], canvas);
                }
                context.fillRect(point.x - canvas.config.width / 2, point.y - canvas.config.height / 2, canvas.config.width, canvas.config.height);
                canvas.points[i] = point;
            }
            drawLine(context, canvas, canvas.mouse);
            context.closePath();
        }

        function borderPoint(point, canvas) {
            var p = point;
            if (point.x <= 0 || point.x >= canvas.element.width) {
                p.vx = -p.vx;
                p.x += p.vx;
            } else if (point.y <= 0 || point.y >= canvas.element.height) {
                p.vy = -p.vy;
                p.y += p.vy;
            } else {
                p = {x: p.x + p.vx, y: p.y + p.vy, vx: p.vx, vy: p.vy}
            }
            return p;
        }

        function drawLine(context, canvas, mouse) {
            context = context || canvas.context;
            for (var i = 0, len = canvas.config.count; i < len; i++) {
                canvas.points[i].max_conn = 0;
                for (var j = 0; j < len; j++) {
                    if (i != j) {
                        dist = Math.round(canvas.points[i].x - canvas.points[j].x) * Math.round(canvas.points[i].x - canvas.points[j].x) +
                                Math.round(canvas.points[i].y - canvas.points[j].y) * Math.round(canvas.points[i].y - canvas.points[j].y);
                        if (dist <= canvas.config.dist && canvas.points[i].max_conn < canvas.config.max_conn) {
                            canvas.points[i].max_conn++;
                            context.lineWidth = 0.5 - dist / canvas.config.dist;
                            context.strokeStyle = "rgba(" + canvas.config.stroke + "," + (1 - dist / canvas.config.dist) + ")";
                            context.beginPath();
                            context.moveTo(canvas.points[i].x, canvas.points[i].y);
                            context.lineTo(canvas.points[j].x, canvas.points[j].y);
                            context.stroke();
                        }
                    }
                }
                if (mouse) {
                    dist = Math.round(canvas.points[i].x - mouse.x) * Math.round(canvas.points[i].x - mouse.x) +
                            Math.round(canvas.points[i].y - mouse.y) * Math.round(canvas.points[i].y - mouse.y);
                    if (dist > canvas.config.dist && dist <= canvas.config.e_dist) {
                        canvas.points[i].x = canvas.points[i].x + (mouse.x - canvas.points[i].x) / 20;
                        canvas.points[i].y = canvas.points[i].y + (mouse.y - canvas.points[i].y) / 20;
                    }
                    if (dist <= canvas.config.e_dist) {
                        context.lineWidth = 1;
                        context.strokeStyle = "rgba(" + canvas.config.stroke + "," + (1 - dist / canvas.config.e_dist) + ")";
                        context.beginPath();
                        context.moveTo(canvas.points[i].x, canvas.points[i].y);
                        context.lineTo(mouse.x, mouse.y);
                        context.stroke();
                    }
                }
            }
        }

        return canvasInit;
    })();

</script>
</body>
</html>